
<!--公司简介-->
<div class="m-about-module container">
	<!--标题-->
	<div class="u-about-h2">
		<p>COMPANY<span>PROFILE</span></p>
		<p>公司简介</p>
	</div>
	<!--虚线-->
	<div class="u-xian u-xian2">
		<img src="img/xian.png"/>
	</div>
	<!--公司简介主体-->
	<div class="m-cp-body f-cb row">
		<!--左边轮播图-->
		<div class="m-cp-banner f-fl col-md-6 col-lg-6 col-xs-12">
			<div class="swiper-container m-cp-banner-c">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="img/about-cp-banner1.jpg" width="100%"/></div>
					<div class="swiper-slide"><img src="img/about-cp-banner1.jpg" width="100%"/></div>
				</div>
				<!-- 如果需要分页器 -->
				<div class="swiper-pagination"></div>
			</div>
		</div>
		<!--右边文字简介-->
		<div class="m-cp-txt f-fr col-md-6 col-lg-6 col-xs-12">
			<div class="m-cpTxt-c">
				<p>杭州云视野科技有限公司成立于2016年，位于杭州市滨江区，我们专业从事APP开发，企业信息化，互联网应用。同时，我们也致力于软件新产品的开发， 为广大客户提供最前卫的优质产品。 云视野公司，以“满足客户成长的管理需求，提供科学 系统的解决方案”为宗旨，提供技术领先的软件产品 ，管理信息化整体解决方案。云视野公司在零售业、 通讯、能源、金融、政府、制造业与商贸流通业、医疗卫生、教育、交通等行业得到用户的认可，其中包括很多的大中型企业也正通过云视野公司持续服务的信息化管理系统而实现持续获益。 云视野公司致力于成为最受社会、客户、员工尊敬的公司， 并通过组织与过程的持续改进，领导力与员工竞争力的发展，联盟与开放式创新，使公司成为优秀的IT解决方案和服务供应商。</p>
				<span><img src="img/about-cp-ico.png"/></span>
			</div>
		</div>
	</div>
</div>
<!--企业文化-->
<div class="m-about-module-p container">
	<div class="m-about-module">
		<!--标题-->
		<div class="u-about-h2">
			<p>COMPANY<span>CULTURE</span></p>
			<p>企业文化</p>
		</div>
		<!--虚线-->
		<div class="u-xian u-xian2">
			<img src="img/xian.png"/>
		</div>
		<!--企业文化主体-->
		<div class="m-cc-body">
			<ul class="f-cb">
				<li>
					<span class="u-img"><img src="img/about-cc-1.png"/></span>
					<div class="u-cc-txt">
						<p>01</p>
						<p>“技术创新 诚对客户”</p>
						<a href="javascript:;" class="u-jt-ico"><img src="img/about-cc-jt.png" /></a>
					</div>
				</li>
				<li>
					<span class="u-img"><img src="img/about-cc-2.png"/></span>
					<div class="u-cc-txt u-cc-txt1">
						<p>02</p>
						<p>“理念”</p>
						<p>平衡、诚挚、卓越、仁和；为每个人提供均等的机会</p>
					</div>
				</li>
				<li>
					<span class="u-img"><img src="img/about-cc-3.png"/></span>
					<div class="u-cc-txt">
						<p>03</p>
						<p>“以诚相待 晓之以理”</p>
						<a href="javascript:;" class="u-jt-ico"><img src="img/about-cc-jt.png" /></a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--产品优势-->
<div class="m-about-module">
	<!--标题-->
	<div class="u-about-h2">
		<p>PRODUCT<span>ADVANTAGES</span></p>
		<p>产品优势</p>
	</div>
	<!--虚线-->
	<div class="u-xian u-xian2">
		<img src="img/xian.png"/>
	</div>
	<!--产品优势-->
	<div class="m-pa-body container">
		<ul class="f-cb row">
			<li class="col-xs-6 col-md-3">
				<span><img src="img/wx-ico.png" width="60%"/></span>
			</li>
			<li class="col-xs-6 col-md-3">
				<span><img src="img/html-ico.png" width="60%"/></span>
			</li>
			<li class="col-xs-6 col-md-3">
				<span><img src="img/app-ico.png" width="60%"/></span>
			</li>
			<li class="col-xs-6 col-md-3">
				<span><img src="img/wzjs-ico.png" width="60%"/></span>
			</li>
		</ul>
	</div>
</div>
