
<div class="m-ca-bd">
	<!--按钮组-->
	<div class="m-ca-btns">
		<ul class="f-cb">
			<li class="active">
				<a href="case">微信开发</a>
			</li>
			<li>
				<a href="caseapp">APP开发案例</a>
			</li>
		</ul>
	</div>
	<!--详细案例-->
	<div class="m-ca-ul">
		<!--微信开发-->
		<div class="m-ca-bd-big">

			<!--微信案例具体案例-->
			<div class="m-ca-wx-bd">
				<ul class="m-ca-ul-big m-ca-ul-big-1 f-cb">
					<li>
						<div class="u-img">
							<img src="img/zh1-1.jpg" />
							<!--二维码及遮罩-->
							<div class="u-QRcode">
								<span><img src="img/zh1-2.jpg"/></span>
							</div>
						</div>
						<div class="u-txt">
							<p>装璜装饰—大涌红木家具</p>
						</div>
					</li>
					<li>
						<div class="u-img">
							<img src="img/zh2-1.jpg" />
							<!--二维码及遮罩-->
							<div class="u-QRcode">
								<span><img src="img/zh2-2.jpg"/></span>
							</div>
						</div>
						<div class="u-txt">
							<p>装璜装饰—鸿起顺门业</p>
						</div>
					</li>
					<li>
						<div class="u-img">
							<img src="img//zh4-1.jpg" />
							<!--二维码及遮罩-->
							<div class="u-QRcode">
								<span><img src="img/zh4-2.jpg"/></span>
							</div>
						</div>
						<div class="u-txt">
							<p>装璜装饰—健威人性家具</p>
						</div>
					</li>
					<li>
						<div class="u-img">
							<img src="img/zh6-1.jpg" />
							<!--二维码及遮罩-->
							<div class="u-QRcode">
								<span><img src="img/zh6-2.jpg"/></span>
							</div>
						</div>
						<div class="u-txt">
							<p>装璜装饰—欧派木门</p>
						</div>
					</li>
					<li>
						<div class="u-img">
							<img src="img/ds4-1.jpg" />
							<!--二维码及遮罩-->
							<div class="u-QRcode">
								<span><img src="img/ds4-2.jpg"/></span>
							</div>
						</div>
						<div class="u-txt">
							<p>电商—品尚红酒</p>
						</div>
					</li>
					<li>
						<div class="u-img">
							<img src="img/ds7-1.jpg" />
							<!--二维码及遮罩-->
							<div class="u-QRcode">
								<span><img src="img/ds7-2.jpg"/></span>
							</div>
						</div>
						<div class="u-txt">
							<p>电商—宏艺隆电气</p>
						</div>
					</li>
					<li>
						<div class="u-img">
							<img src="img/jd5-1.jpg" />
							<!--二维码及遮罩-->
							<div class="u-QRcode">
								<span><img src="img/jd5-2.jpg"/></span>
							</div>
						</div>
						<div class="u-txt">
							<p>酒店—大城小爱酒店</p>
						</div>
					</li>
					<li>
						<div class="u-img">
							<img src="img/ys2-1.jpg" />
							<!--二维码及遮罩-->
							<div class="u-QRcode">
								<span><img src="img/ys2-2.jpg"/></span>
							</div>
						</div>
						<div class="u-txt">
							<p>餐饮—南平小南国</p>
						</div>
					</li>
				</ul>
				<!--上下页按钮-->
				<div class="u-ca-wx-page">
					<div class="pageTest"></div>
				</div>
			</div>
		</div>
	</div>
</div>
