<div class="m-ca-bd">
	<!--按钮组-->
	<div class="m-ca-btns">
		<ul class="f-cb">
			<li>
				<a href="case">微信开发</a>
			</li>
			<li class="active">
				<a href="caseapp">APP开发案例</a>
			</li>
		</ul>
	</div>
	<!--详细案例-->
	<div class="m-ca-ul">
		<!--app开发案例-->
		<div class="m-ca-bd-big">
			<ul class="m-ca-ul-big m-ca-ul-big-2 f-cb">
				<li>
					<a class="example-image-link" href="img/app-1-1.png" data-lightbox="example-set" data-title="人才服务平台">
						<img class="example-image" src="img/app-1-1.png" />
					</a>
				</li>
				<li>
					<a class="example-image-link" href="img/app-2-1.png" data-lightbox="example-set" data-title="家哇导购平台">
						<img class="example-image" src="img/app-2-1.png" />
					</a>
				</li>
				<li>
					<a class="example-image-link" href="img/app-3-1.png" data-lightbox="example-set" data-title="农资医药">
						<img class="example-image" src="img/app-3-1.png" />
					</a>
				</li>
				<li>
					<a class="example-image-link" href="img/app-4-1.png" data-lightbox="example-set" data-title="海道">
						<img class="example-image" src="img/app-4-1.png" />
					</a>
				</li>
				<li>
					<a class="example-image-link" href="img/app-5-1.png" data-lightbox="example-set" data-title="毕业生服务">
						<img class="example-image" src="img/app-5-1.png" />
					</a>
				</li>
				<li>
					<a class="example-image-link" href="img/app-6-1.png" data-lightbox="example-set" data-title="智能手环">
						<img class="example-image" src="img/app-6-1.png" />
					</a>
				</li>
			</ul>

		</div>
	</div>
</div>