<!--新闻资讯-->
<div class="m-cu container">
	<!--标题-->
	<div class="u-h2 u-h2-1">
		<h2>CONTACT <span>US</span></h2>
		<h2>联系我们</h2>
	</div>
	<!--地图-->
	<div class="m-cu-map">
		<div id="wrap" class="my-map">
			<div id="mapContainer"></div>
		</div>
	</div>
	<!--我的位置-->
	<div class="u-my-location">
		<p>我的位置：<span id="baidu_geo">正在定位...</span></p>
	</div>
	<!--虚线及三角-->
	<div class="u-cu-dashed">
		<img src="img/sanjiao-blue.png" width="100%" />
	</div>
	<!--联系我们-->
	<div class="m-cu-info">
		<!--标题-->
		<p class="u-h2">联系我们</p>
		<ul>
			<li>
				<span class="u-img"><img src="img/dizhi.png" width="100%"/></span>
				<span class="u-txt">地址: 浙江省杭州市滨江区</span>
			</li>
			<li>
				<span class="u-img"><img src="img/dianhua.png" width="100%"/></span>
				<span class="u-txt">电话: </span>
			</li>
			<li>
				<span class="u-img"><img src="img/qq.png" width="100%"/></span>
				<span class="u-txt">QQ: </span>
			</li>
			<li>
				<span class="u-img"><img src="img/email.png" width="100%"/></span>
				<span class="u-txt">电子邮件：</span>
			</li>
			<li>
				<span class="u-img"><img src="img/time.png" width="100%"/></span>
				<span class="u-txt">上班时间: 周一到周五: 9:00 - 18:00</span>
			</li>
		</ul>
	</div>
</div>