<!--banner-->
<div class="m-ae-banner">
	<img src="img/dianshang.jpg" />
</div>
<!--主体内容-->
<div class="m-ec-bd container">
	<ul>
		<li class="f-cb">
			<div class="u-left">
				<div class="u-h2">
					PC端商城系统
				</div>
				<p>B2B商城是融合传统产业特征，结合自主研发的特色功能，以交易为核心，支持在线交易、撮合交易等业务模式，帮助企业提升影响力、扩大其销路，并通过稳定的架构、更好的扩展属性，支撑企业建立领先的电子商务零售和服务平台。</p>
			</div>
			<div class="u-right">
				<img src="img/Showcase.png" />
			</div>
		</li>
		<li class="f-cb">
			<div class="u-right">
				<img src="img/dianshangyidong.png" />
			</div>
			<div class="u-left">
				<div class="u-h2">
					移动端商城系统
				</div>
				<p>基于微信平台强大的受众群体和扩散性，通过构建"微商城+微分销"多层级一体化微信分销成交平台，基于朋友圈传播，让更多人了解企业品牌，减少宣传成本，建立企业与消费者的一对一互动和沟通，提供更好的促销、推广、宣传、售后等服务，打造更具影响力的品牌形象。</p>
			</div>
		</li>
	</ul>
</div>

<!--底部-->
<div class="g-ft">
	<div class="m-ft f-cb">
		<div class="u-ft-left f-fl">
			<p>Copyright©2016西安高软软件科技有限公司.All right reserved</p>
		</div>
		<div class="u-ft-right f-fr visible-lg-block">
			<ul class="f-cb">
				<li>
					<a href="index.html">首页</a>
				</li>
				<li>
					<a href="about.html">关于我们</a>
				</li>
				<li>
					<a href="Products-News.html">产品动态</a>
				</li>
				<li>
					<a href="solution.html">解决方案</a>
				</li>
				<li>
					<a href="Products-News.html">新闻资讯</a>
				</li>
				<li>
					<a href="contact-us.html">联系我们</a>
				</li>
				<li>
					<a href="talent-center.html">人才中心</a>
				</li>
				<li>
					<a href="caseapp.html">开发案例</a>
				</li>
				<li>
					<a href="javascript:;">企业OA</a>
				</li>
			</ul>
		</div>
	</div>
</div>