<!--主体部分-->
<div class="g-ia-bd">
	<div class="m-ia-module">
		<!--标题-->
		<div class="u-about-h2">
			<p>INTERNET<span>APPLICATIONS</span></p>
			<p>互联网应用</p>
		</div>
		<!--虚线-->
		<div class="u-xian u-xian2">
			<img src="img/xian.png"/>
		</div>
		<!--互联网概述-->
		<div class="m-ia-summarize">
			<img src="img/hlwgs.png" />
		</div>
	</div>
	<!--互联网应用-->
	<div class="m-ia-module">
		<!--标题-->
		<div class="u-about-h2">
			<p>INTERNET<span>APPLICATIONS</span></p>
			<p>互联网应用</p>
		</div>
		<!--虚线-->
		<div class="u-xian u-xian2">
			<img src="img/xian.png"/>
		</div>
		<!--互联网应用主体内容-->
		<div class="m-ia-app">
			<ul class="f-cb row">
				<li class="col-xs-8 col-xs-offset-2 col-sm-3">
					<div class="u-img">
						<img src="img/wxpt.png" />
					</div>
					<a href="javascript:;">微信平台</a>
				</li>
				<li class="col-xs-8 col-xs-offset-2 col-sm-3">
					<div class="u-img u-img-2">
						<img src="img/apppt.png" />
					</div>
					<a href="javascript:;">APP平台</a>
				</li>
			</ul>
		</div>
	</div>
</div>