<div class="g-ft">
    <div class="m-ft f-cb">
        <div class="u-ft-left f-fl">
            <p>Copyright©2017杭州云视野科技有限公司.All right reserved</p>
        </div>
        <div class="u-ft-right f-fr visible-lg-block">
            <ul class="f-cb">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="about">关于我们</a>
                </li>
                <li>
                    <a href="Products-News">产品动态</a>
                </li>
                <li>
                    <a href="solution">解决方案</a>
                </li>
                <li>
                    <a href="Products-News">新闻资讯</a>
                </li>
                <li>
                    <a href="contact-us.html">联系我们</a>
                </li>
                <li>
                    <a href="talent-center">人才中心</a>
                </li>
                <li>
                    <a href="caseapp">开发案例</a>
                </li>
                <li>
                    <a href="javascript:;">企业OA</a>
                </li>
            </ul>
        </div>
    </div>
</div>