<!--新闻资讯-->
<div class="m-new container">
	<!--标题-->
	<div class="u-h2">
		<h2>INDUSTRY NEWS</h2>
		<h2>行业新闻</h2>
	</div>
	<!--新闻列表-->
	<div>
		<ul class="f-cb m-new-ul">
			<li class="f-cb">
				<a href="javascript:;" class="f-fl">三步打造运营团队中的牛逼BD！</a>
				<span class="u-time f-fr">2016-08-26 01:03:10</span>
			</li>
			<li class="f-cb">
				<a href="javascript:;" class="f-fl">如何给自家APP取个好名字？这里有个四步法</a>
				<span class="u-time f-fr">2016-08-26 01:03:10</span>
			</li>
			<li class="f-cb">
				<a href="javascript:;" class="f-fl">知识共享路漫漫兮，分答，知乎Live能走多远？</a>
				<span class="u-time f-fr">2016-08-26 01:03:10</span>
			</li>
			<li class="f-cb">
				<a href="javascript:;" class="f-fl">为什么我能写出单篇百万阅读量的文章？</a>
				<span class="u-time f-fr">2016-08-26 01:03:10</span>
			</li>
		</ul>
		<!--上下页按钮-->
		<div class="u-new-page">
			<div class="pageTest"></div>
		</div>
	</div>
</div>