<!--头部黑色大背景-->
<div class="m-pn-top">
	<ul class="f-cb row container">
		<li class="col-xs-12 col-sm-4">
			<div class="u-img">
				<img src="img/internet.png" />
			</div>
			<a href="intemet-application" class="u-pnTop-btn u-pnTop-btn-1">
				互联网应用
			</a>
		</li>
		<li class="col-xs-12 col-sm-4">
			<div class="u-img">
				<img src="img/qyxxh.png" />
			</div>
			<a href="javascript:;" class="u-pnTop-btn u-pnTop-btn-2">
				企业信息化
			</a>
		</li>
		<li class="col-xs-12 col-sm-4">
			<div class="u-img">
				<img src="img/hddmt.png" />
			</div>
			<a href="javascript:;" class="u-pnTop-btn u-pnTop-btn-3">
				互动多媒体
			</a>
		</li>
	</ul>
</div>
<!--产品说明主体-->
<div class="m-pm-body container">
	<!--标题-->
	<div class="u-about-h2">
		<p>PRODUCT<span>MANUAL</span></p>
		<p>产品说明</p>
	</div>
	<!--虚线-->
	<div class="u-xian u-xian2">
		<img src="img/xian.png"/>
	</div>
	<!--主体内容-->
	<div class="u-pm-bd">
		<ul>
			<li class="row">
				<div class="u-pm-img col-xs-12 col-sm-6">
					<img src="img/hlwyy-img.jpg" />
				</div>
				<div class="u-pm-txt col-xs-12 col-sm-6">
					<h3>
						<span class="u-ico"></span>
						互联网应用
					</h3>
					<p>杭州云视野科技有限公司成立于2016年，位于杭州市滨江区，我们专业从事APP开发，企业信 息化，互联网应用。同时，我们也致力于软件新产品的开发，为广大客户提供最前卫的优质产品。 这个网络不管是谁发明了它，是属于全人类的。互联网的结构是按照“包交换”的方式连接的分布式网络。</p>
				</div>
			</li>
			<li class="row">
				<div class="u-pm-img col-xs-12 col-sm-6">
					<img src="img/qyxxh-img.jpg" />
				</div>
				<div class="u-pm-txt col-xs-12 col-sm-6">
					<h3>
						<span class="u-ico"></span>
						企业信息化
					</h3>
					<p>企业信息化(Enterprises informatization) ，企业信息化实质上是将企业的生产过程、物料移动、事务处理、现金流动、客户交互等业务过程数字化，通过各种信息系统网络加工生成新的信息资源，提供给各次的人们洞悉、观察各类动态业务中的一切信息，以作出有利于生产要素组合优化的决策，使企业资源合理配置，以使企业能适应瞬息万变的市场竞争环境，求得最大的经济效益。</p>
				</div>
			</li>
			<li class="row">
				<div class="u-pm-img col-xs-12 col-sm-6">
					<img src="img/dmthd-img.jpg" />
				</div>
				<div class="u-pm-txt col-xs-12 col-sm-6">
					<h3>
						<span class="u-ico"></span>
						互动多媒体
					</h3>
					<p>多媒体技术是使用计算机交互式综合技术和数字通信网络技术处理多种表示媒体文本、图形、图像、视频和声音，使多种信息建立逻辑连接，集成为一个交 互系统；这种交互系统被概括地称为“ 互动多媒体”。互动多媒体，使人类社会工作和生活的方方面面都沐浴着它所带来的阳光，新技术所带来的新感觉、新体验是以往任何时候都无法想象的 ，现在随着国民生活水平的提高，很多多媒体技术被应用在各类展厅中。</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<!--为什么选择我们-->
<div class="m-pn-wcu">
	<!--标题-->
	<div class="u-about-h2">
		<p>WHY CHOOSE<span>US</span></p>
		<p>为什么选择我们?</p>
	</div>
	<!--虚线-->
	<div class="u-xian u-xian2">
		<img src="img/xian.png"/>
	</div>
	<!--理由-->
	<span class="u-pn-why container"><img src="img/why-choose-me.png" width="100%"/></span>
</div>