<!--人才理念-->
<div class="m-tc-rcln">
	<!--人才理念模块-->
	<div class="m-tc-rc-body">
		<div class="u-h2">
			<p>TALENT<span>CONCEPT</span></p>
			<p>人才理念</p>
		</div>
		<p class="u-p">
			以人为本<br />“ 注重培养人才 ”<br />尊重人才
		</p>
	</div>
</div>
<!--人才中心文字介绍-->
<div class="m-tc-txt container">
	<p>我们是一支有梦想有技术的精悍团队;<br />我们是一群喜欢钻研、乐于分享的技术Geek，大家相互学习，共同提高;<br />我们习惯于用数据而不是凭感觉说话；<br />我们致力于用技术来驱动业务方向和产品体验；<br />我们崇尚敏捷开发、快速迭代的开发模式；<br />我们WEB后端逻辑主要用Java开发，也使用Python以及C/C++；<br />我们底层存储主要使用MySQL,关注数据仓库建设/大规模分布式存储；<br />我们纯手工书写HTML/CSS/JS前端代码，JS代码主要基于YUI框架，也使用jQuery；<br />我们使用开源软件搭建系统架构，如Nginx、Varnish、Thrift、Postfix、Bind、Puppet等；<br />我们在开放式的办公室工作，开会随意坐着却有条理的提出问题并分析着；<br />我们工程师可选择使用Macbook Pro或Thinkpad笔记本，外接24时/27时显示器；<br />我们每周一息技术交流、一次业务培训。互相学习、共同提高；<br />我们每月一次启航大会，分享生活，表彰优秀，确定目标，坚定梦想；<br />我们有轻松自然温馨的工作环境，却又相互激励共同成长；<br />我们有竞争力的薪水，不敢称业界顶尖，但绝对对得起付出；<br />你还可以获得潜在的长期回报；不用羡慕上市公司他们的期权；<br />有梦想，相信自己，相信我们，只要加入，共同奋斗，你也可以有！</p>
</div>