<!--广告-->
<div class="m-wd-banner">
	<img src="img/banner-weixin.jpg" />
</div>
<!--企业开发微信公众号的优势-->
<div class="m-wd-advantage f-cb container">
	<div class="f-fl u-wd-a-left">
		<span class="u-h2"><img src="img/youshi.png"/></span>
		<div class="u-wd-aLeft-txt">
			<ul>
				<li>1、移动互联网趋势：移动互联网用户已经超过传统互联网用户，成为了目前的主流；</li>
				<li>2、大流量切入口：7亿微信用户，巨大的流量入口；</li>
				<li>3、用户粘性强：人人都在使用微信，微信的用户粘性和使用更强；</li>
				<li>4、人性化的营销方式：是否接受信息全由用户做主；</li>
				<li>5、高效CRM管理工具：微信粉丝即用户、分门别类管理用户；</li>
				<li>6、时尚的产品销售渠道：微信助企业实现多元化营销；</li>
				<li>7、全面营销趋势：微信营销是众多企业的选择；</li>
			</ul>
		</div>
	</div>
	<div class="f-fr">
		<img src="img/weixin-1.png" width="100%"/>
	</div>
</div>
<!--特色功能-->
<div class="m-wd-function">
	<!--标题-->
	<div class="u-h2">
		<h2>特色功能</h2>
	</div>
	<!--具体功能-->
	<div class="u-wd-function">
		<img src="img/tese.png" width="100%"/>
	</div>
</div>
<!--定制开发-->
<div class="m-wd-function m-wd-customization">
	<!--标题-->
	<div class="u-h2">
		<h2>定制开发</h2>
	</div>
	<!--具体内容-->
	<div class="u-wd-customization f-cb">
		<div class="f-fl">
			<span><img src="img/dingzhikaifa.png"/></span>
		</div>
		<div class="f-fr">
			<h3>微信自主营销平台</h3>
			<p>帮助商家企业提供微信公众平台二次开发服务，为企业和个人搭建微信营销平台并提供专业的微信公众号营销、开发及推广，提供多行业微信解决方案.</p>
		</div>
	</div>
</div>