<div class="bigImg">
</div>
<div class="logoMenu">
	<a class="logo" href="/"></a>
	<div class="menu">
		<a href="/about">公司简介</a>
		<a href="/productList">产品简介</a>
		<a href="/appCase/YSP">应用案例</a>
		<a href="/infoList">木业知识</a>
		<a href="/recruit">人才招聘</a>
		<a href="/contact">联系我们</a>
	</div>
	<div class="search">
		<input class="sSub" value="" type="button">
		<input class="sKey" value="" type="text">
	</div>
	<div class="language"><span style="color: rgb(114, 196, 198);">CN</span> |
		<a href="javascript:;">EN</a>
	</div>
</div>