<div class="head">
	{{> header}}
</div>
<div class="main">
	<div class="w">
		<div class="cap"></div>
		<div class="about">仁山国际贸易主营品种已达到30余种，贡献于木材行业的地板、家具、<br>实木门、工艺雕刻、人造板、建筑装饰用材等多个领域，并创造了巨大的社会和经济价值。</div>
		<div class="content contentList">
			<table class="listInfo">
				<tbody>
					<tr>
						<th width="15%">编号</th>
						<th width="55%">标题</th>
						<th width="15%">日期</th>
						<th width="15%">访问量</th>
					</tr>

					<tr>
						<td>1</td>
						<td style="text-align: left;">
							<a href="info/1">鉴别海、越黄花梨的知识归结与三大误区</a>
						</td>
						<td>2017-5-11 10:19:16</td>
						<td>127</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="foot">
	{{> bottom}}
</div>